
<div class="row">

    <div class="col-md-12">
        <h2>Settings for LXD-GUI</h2>

        <span class="label label-danger">{{errMsg}}</span>

        <div class="row">
            <div class="col-md-2">
                LXD Server host:port
            </div>

            <div class="col-md-5">
                <input size="32" type="text" ng-model="myconfig.lxdurl">
                <button class="btn btn-primary" type="button" ng-click="save()">Save</button>


                <p></p>
                <label for="xhr_with_credentials">
                  <input id="xhr_with_credentials" type="checkbox" ng-model="myconfig.xhr_with_credentials" ng-change="toggle_credentials()">
                  Send XHRs with credentials
                </label>
            </div>

            <div class="col-md-2">
            </div>

        </div>


        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-3">
                <button class="btn btn-primary" type="button" ng-click="testLxd()">Test LXD</button>
            </div>

            <div class="col-md-2">
                Result: {{test.lxd}}
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-3">
                <button class="btn btn-primary" type="button" ng-click="testLxdAuth()">Test LXD Auth</button>
            </div>

            <div class="col-md-2">
                Result: {{test.lxdAuth}}
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-3">
                <button class="btn btn-primary" type="button" ng-click="openTab()">Open LXD Url in new tab</button>
            </div>

            <div class="col-md-2">
            </div>
        </div>

    </div>

</div>

<div class="row">
    &nbsp;
</div>


<div class="row">

    <div class="col-md-12">
        <h2>Settings for LXD</h2>

        <div class="row">
            <div class="col-md-2">
                Addresses:
            </div>

            <div class="col-md-2">
                {{config.environment.addresses[0]}}
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
                Architecture:
            </div>

            <div class="col-md-2">
                {{config.environment.architectures[0]}} / {{config.environment.architectures[1]}}
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
                Server Version:
            </div>

            <div class="col-md-2">
                {{config.environment.server_version}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                Storage:
            </div>

            <div class="col-md-2">
                {{config.environment.storage}}
            </div>
        </div>


    </div>

</div>
