<div class="row">
    <div class="col-md-7">
        <table class="table table-condensed">
          Overview
            <tbody>
                <tr>
                    <td class="col-md-3"> Filename </td>
                    <td> {{image.filename}} </td>
                </tr>

                <tr>
                    <td> Architecture </td>
                    <td> {{image.architecture}} </td>
                </tr>


                <tr>
                    <td>Fingerprint </td>
                    <td> {{image.fingerprint}} </td>
                </tr>

                <tr>
                    <td>Aliases
                        <a href ng-click="openAddAliasDialog()"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                    <td>
                        <div class="" ng-repeat="alias in image.aliases">
                            {{alias.name}} - {{alias.description}}
                            <a href ng-click="openEditAliasDialog(alias)"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href ng-click="removeAlias(alias)"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>

                    </td>
                </tr>


                <tr>
                    <td> Cached </td>
                    <td> {{image.cached}} </td>
                </tr>

                <tr>
                    <td> Public </td>
                    <td> {{image.public}} </td>
                </tr>
                <tr>
                    <td> Size </td>
                    <td> {{image.size}} </td>
                </tr>
                <tr>
                    <td> Auto Update </td>
                    <td> {{image.auto_update}} </td>
                </tr>
                <tr>
                    <td> Update Source </td>
                    <td> {{image.update_source.server}} </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
