<div class="row">

    <div class="col-md-12" ng-show="profiles.length > 0">

        <table class="table table-condensed">
            <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Memory</th>
            <th>Devices</th>
            <th>Action</th>
            </thead>

            <tbody>
                <tr ng-repeat="profile in profiles">
                    <td>
                        <b>{{profile.name}}</b>
                    </td>

                    <td>
                      {{profile.description}}
                    </td>

                    <td>
                      {{profile.config.limits.memory}}
                    </td>

                    <td>
                      {{profile.raw.lxc}}
                      {{profile.devices.eth0.nictype}} {{profile.devices.eth0.parent}}
                      {{profile.devices.kvm.type}} {{profile.devices.kvm.path}}
                    </td>

                    <td><!--
                        <a class="btn btn-sm btn-primary" href="#/profile-view/{{profile.fingerprint}}">
                          <i class="glyphicon glyphicon-zoom-in"></i>View</a>

                        <a class="btn btn-sm btn-danger" ng-click="delete(profile)"><i
                                class="glyphicon glyphicon-remove"></i> Delete</a>
                          -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12" ng-show="profiles.length == 0">
        <div class="col-md-12">
            <h4>No profiles available</h4>

        </div>
    </div>
</div>
