<div class="modal-header">
     <h3 class="modal-title">Add a remoteimage</h3>
 </div>
 <div class="modal-body">
   The following remote image will be add to the local image store:
   <ul>
     <li> Description: {{remoteimage.properties.description}} </li>
     <li> Arch: {{remoteimage.architecture}}
     <li> URL {{remoteimage.url}} </li>
     <li> Source: {{remoteimage.source}}</li>
     <li> Size: {{remoteimage.size}}</li>
   </ul>

 </div>
 <div class="modal-footer">
     <button class="btn btn-primary" type="button" ng-click="ok()">Add Image</button>
     <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
 </div>
