<div class="row">
  <div class="col-md-12" ng-show="remoteimages.length > 0">
  <a class="btn btn-sm btn-success" href="#/image-add-remote"><i class="glyphicon glyphicon-plus"></i>Add Remote Image</a>


  <div class="col-md-3">
         <input type="text" class="form-control" id="b"
          name="filterSearch"
          ng-model="filter.search"
          ng-blur="reload()"
          placeholder="Search">
   </div>

   <div class="col-md-3">

   <ui-select ng-change="reload()"
    ng-model="filter.architecture"
    ng-disabled="disabled"
    title="Architecture">
       <ui-select-match allow-clear placeholder="Architecture">
         {{filter.architecture}}
       </ui-select-match>
       <ui-select-choices repeat="architecture in architectures">
           <div ng-bind-html="architecture | highlight: filter.architecture"></div>
       </ui-select-choices>
   </ui-select>
 </div>
</div>
</div>


<div class="row">
    <div class="col-md-12" ng-show="remoteimages.length > 0">
        <table class="table table-condensed">
            <thead>
            <th class="col-md-4">Desc</th>
            <th class="col-md-1">Arch</th>
            <th class="col-md-2">Hash</th>
            <th class="col-md-1">Source</th>
            <th class="col-md-1">Action</th>
            </thead>

            <tbody>
            <tr ng-repeat="remoteimage in remoteimages">
                <td>{{remoteimage.properties.description}}
                </td>

                <td>
                    {{remoteimage.architecture}}
                </td>

                <td>
                    {{remoteimage.fingerprint | limitTo: 12}}
                </td>

                <td> {{remoteimage.source}}
                </td>

                <td>
                    <a class="btn btn-sm btn-primary"
                       ng-click="addRemoteimage(remoteimage)"><i class="glyphicon glyphicon-plus"></i>Add</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12" ng-show="remoteimages.length == 0">
        <div class="col-md-12">
          Loading... please wait, this can take some time
        </div>
        <div class="col-md-12">
          {{errorMsg}}
        </div>
    </div>
</div>
