<div class="row">
    <div class="col-md-5">
        <table class="table table-condensed">
          Overview
            <tbody>
                <tr>
                    <td class="col-md-3"> Name </td>
                    <td> {{network.name}} </td>
                </tr>

                <tr>
                    <td> Type </td>
                    <td> {{network.type}} </td>
                </tr>

                <tr ng-if="network.used_by.length > 0">
                    <td> Used By: </td>
                    <td>
                        <div class="" ng-repeat="bywhom in network.usedBy">
                            <a ng-href="#/container-view/{{bywhom.name}}">{{bywhom.name}}</a>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
