<div class="row">

    <div class="col-md-12" ng-show="networks.length > 0">
        <table class="table table-condensed">
            <thead>
            <th class="col-md-3">Name</th>
            <th class="col-md-3">Status</th>
            <th class="col-md-3">Architecture</th>
            <th class="none">Stateful</th>
            <th class="none">Topic / Tags</th>
            <th class="none">Action</th>
            </thead>

            <tbody>
                <tr ng-repeat="network in networks">
                    <td>
                        <b>{{network.name}}</b>
                    </td>

                    <td>
                      {{network.status}}
                    </td>

                    <td>
                      {{network.architecture}}
                    </td>

                    <td>
                      {{network.stateful}}
                    </td>

                    <td>
                        <a class="btn btn-sm btn-success" ng-click="addAsNew(network)"><i class="glyphicon glyphicon-plus"></i>Edit</a>
                        <a class="btn btn-sm btn-success" href="#/network-view/{{network.name}}"><i class="glyphicon glyphicon-plus"></i>View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12" ng-show="networks.length == 0">
        <div class="col-md-12">
            <h4>No Containers</h4>
        </div>
    </div>
</div>
