<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed">
          Container create:
            <tbody>
            <tr>
                <td> Name</td>
                <td>
                  <input ng-model="containerName"
                  type="text"
                  value="{{containerName}}"
                  size="32">
                </td>
                <td>
                  64 chars max, ASCII, no slash, no colon and no comma
                </td>
            </tr>

            <tr>
                <td> Image </td>
                <td>
                  <ui-select ng-model="selected.image">
                      <ui-select-match>
                          <span ng-bind="$select.selected.properties.description"></span>
                      </ui-select-match>

                      <ui-select-choices repeat="image in (images | filter: $select.search)">
                          <span ng-bind="image.properties.description"></span>
                      </ui-select-choices>
                  </ui-select>

                </td>
                <td>
                  Base image
                </td>
            </tr>

            <tr>
                <td> Profile </td>
                <td>
                  <ui-select ng-model="selected.profile">
                      <ui-select-match>
                          <span ng-bind="$select.selected.name"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="profile in (profiles | filter: $select.search)">
                          <span ng-bind="profile.name"></span>
                      </ui-select-choices>
                  </ui-select>
                </td>
                <td>
                  Base configuration profile
                </td>
            </tr>

            <tr>
                <td> Ephemeral </td>
                <td>
                  <label><input type="checkbox" ng-model="selected.ephemeral"></label>
                </td>
                <td>Whether to destroy the container on shutdown
                </td>
            </tr>


            <tr>
                <td>
                    <a class="btn btn-sm btn-primary" ng-click="createContainer()">
                        <i class="glyphicon glyphicon-add">Add</i>
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
