<div class="row">
    <div class="col-md-12">
      <form name="userForm" ng-submit="createContainer(userForm.$valid)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <table class="table table-condensed">
          Container create:
            <tbody>
            <tr>
                <td> Name</td>
                <td>
                  <input ng-model="containerName"
                  class="form-control"
                  type="text"
                  value="{{containerName}}"
                  size="32"
                  ng-minlength="3"
                  ng-maxlength="64"
                  name="containerName"
                  required>


                </td>
                <td>
                  <p ng-show="userForm.containerName.$invalid && (!userForm.containerName.$pristine || isSubmitted)" class="help-block">Name is required.</p>
                  64 chars max, ASCII, no slash, no colon and no comma
                </td>
            </tr>

            <tr>
                <td> Image </td>
                <td>
                  <ui-select name="image" ng-model="selected.image" required>
                      <ui-select-match>
                          <span ng-bind="$select.selected.properties.description"></span>
                      </ui-select-match>

                      <ui-select-choices repeat="image in (images | filter: $select.search)">
                          <span ng-bind="image.properties.description"></span>
                      </ui-select-choices>
                  </ui-select>

                </td>
                <td>
                  <p ng-show="userForm.image.$invalid && (!userForm.image.$pristine || isSubmitted)" class="help-block">Image is required.</p>

                  Base image
                </td>
            </tr>

            <tr>
                <td> Profile </td>
                <td>
                  <ui-select ng-model="selected.profile" required>
                      <ui-select-match>
                          <span ng-bind="$select.selected.name"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="profile in (profiles | filter: $select.search)">
                          <span ng-bind="profile.name"></span>
                      </ui-select-choices>
                  </ui-select>
                </td>
                <td>
                  Base configuration profile
                </td>
            </tr>

            <tr>
                <td> Ephemeral </td>
                <td>
                  <label><input type="checkbox" ng-model="selected.ephemeral"></label>
                </td>
                <td>Whether to destroy the container on shutdown
                </td>
            </tr>


            <tr>
                <td>
                    <a class="btn btn-md btn-primary" ng-click="createContainer()">
                        <i class="glyphicon glyphicon-plus"> Add Container</i>
                    </a>
                    <button type="submit" class="btn btn-primary">Submit</button>

                </td>
                <td> </td>
                <td> </td>

            </tr>

            </tbody>
        </table>

      </form>
    </div>
</div>
